.header {
    grid-area: h;
    display: inline-block;
    font-family: arial,
    sans-serif;
    font-size: 11px;
    color: rgb(205, 216, 228);
    text-shadow: 0 -1px rgb(46, 53, 58);
    line-height: 2em;
    padding: 1px 1.2em;
    border: 1px solid rgba(33, 43, 52, 1);
    border-radius: 3px;
    background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87));
}

.header img {
     width: 57px;
    height: 57px;
}

.loginBlock {
    float: right;
    padding: 15px;
    font-weight: normal;
    font-size: 20px;
}

.loginBlock a{
    color:whitesmoke;
    text-decoration: none;
}

.socialIcons {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 0.62vmax;
}

.socialIcons li {
    display: inline-block;
    margin: auto 10px;
}

.socialIcons li a {
    display: inline-block;
    font-size: 1.20vmax;
    color: #1ab5b3;
    transition: all .5s ease;
    transform-origin: left;
    transform: rotateY(-30deg);
    text-shadow: 10px 0px 1px #616669,
        10px 0px 1px #070707,
        10px 0px 1px black,
        10px 0px 1px black;
}

.socialIcons li a:hover {
    color: #1ab5b3;
    transform: rotate(0deg);
    text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
}

.loginBlock a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1.0vmax;
    font-weight: 400;
    line-height: 0.66vmax;
    height: 1.8vmax;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background-color: #2f373b;
    background: rgba(46, 54, 58, 1);
    background: -moz-linear-gradient(top, rgba(46, 54, 58, 1) 0%, rgba(87, 101, 105, 1) 1%, rgba(51, 59, 63, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46, 54, 58, 1)), color-stop(1%, rgba(87, 101, 105, 1)), color-stop(100%, rgba(51, 59, 63, 1)));
    background: -webkit-linear-gradient(top, rgba(46, 54, 58, 1) 0%, rgba(87, 101, 105, 1) 1%, rgba(51, 59, 63, 1) 100%);
    background: -o-linear-gradient(top, rgba(46, 54, 58, 1) 0%, rgba(87, 101, 105, 1) 1%, rgba(51, 59, 63, 1) 100%);
    background: -ms-linear-gradient(top, rgba(46, 54, 58, 1) 0%, rgba(87, 101, 105, 1) 1%, rgba(51, 59, 63, 1) 100%);
    background: linear-gradient(to bottom, rgba(46, 54, 58, 1) 0%, rgba(87, 101, 105, 1) 1%, rgba(51, 59, 63, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e363a', endColorstr='#333b3f', GradientType=0);
    padding-right: 1.3vmax;
}
