.nav{
    margin-top: 15%;
    margin-left: 45%;
   
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
    
    text-decoration: none;
   
    opacity:0.8;
    left: 9.88px;
}
.item{
    border-radius: 5px;
    
}

.item a{
    text-decoration: none;
    font-family: Roboto;
    color:black;
}

.span{
    position: absolute;
    float:right;
}