/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body{
    font:14px;
    display: flex;
    justify-content:center;
    align-items: center;
} */

.breadcrump {
    display: flex;
    justify-content:space-around;
    list-style: none;
    width: 250%;
    margin-bottom:-2em;
}
.breadcrump li{
    top:-7em;
    left: -36%;
    display: flex;
    justify-content:space-around;
    padding: 10px;
    border-radius: 70px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.breadcrump li:nth-child(1){
background: rgb(204, 235, 230);
}
.breadcrump li:nth-child(2){
background: rgb(204, 235, 230);
}
.breadcrump li:nth-child(3){
background: rgb(247, 187, 186);
}
.breadcrump li:nth-child(4){
background: rgb(247, 187, 186);
}

.breadcrump li a {
    border-radius: 70px;
    transition: all 0.2 ease-in-out;
    text-decoration: none;
    width: 30px;
    height: 30px;
    opacity:1;
    text-align: center;
    display: block;
    line-height: 30px;
}
.breadcrump li a:active {
    border-radius: 70px;
    transition: all 41.2 ease-in-out;
    text-decoration: none;
    width: 40px;
    height: 30px;
    opacity:0.5;
    text-align: center;
    display: block;
    line-height: 40px;
}



.text{
    font-family: roboto;
    color: rgb(61, 55, 55);

}