.postsBlock{
    display: fixed;
    font-family: arial,
    sans-serif;
    font-size: 11px;

    color: rgb(205, 216, 228);
    text-shadow: 0 -1px rgb(46, 53, 58);
    text-decoration: none;
    user-select: none;
    width: 90%;
    padding-left: 50%;
    line-height: 2em;
    padding: 1px 1.2em;
    overflow: hidden;
    border: 1px solid rgba(33, 43, 52, 1);
    border-radius: 3px;
    background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87));
    box-shadow: inset 0 1px rgba(101, 114, 126, 1),
    inset 0 0 1px rgba(140, 150, 170, .8),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
}

.posts{
    display: fixed;
    font-family: arial,
    sans-serif;
    overflow: hidden;
    font-size: 11px;
    color: rgb(205, 216, 228);
    text-shadow: 0 -1px rgb(46, 53, 58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33, 43, 52, 1);
    border-radius: 3px;
    background: rgb(81, 92, 102) linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87));
    box-shadow: inset 0 1px rgba(101, 114, 126, 1),
    inset 0 0 1px rgba(140, 150, 170, .8),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
}