*{
    margin: 0;
}

body{
    font-family: Arial;
}

.slider{
    width: 300px;
    position: relative;
    border: 4px solid #caccd1;
    margin: 100px auto;
    overflow: hidden;
    left: 0px;
}

.line{
    position: relative;
    height: 250px;
    overflow:hidden;
    left: 0px;
    transition: all ease 1s;
}

.slide{
    height:250px;
    float: left;
}

.w168px{
    width: 168px;
    background-color: red;
}

.w250px{
    width: 250px;
    background-color: blue;
}

.w80px{
    width: 80px;
    background-color: green;
}

.w280px{
    width: 280px;
    background-color: cyan;
}
.w150px{
    width: 150px;
    background-color: yellow;
}
.w52px{
    width: 52px;
    background-color: pink;
}